<script setup>
    const props = defineProps(['film'])
</script>

<template>
    <div class="card">
        <img :src="props.film.Poster" alt=""/>
         <p>{{ props.film.Title }} ({{ props.film.Year }})</p>
    </div>
  
</template>

<style scoped>
.card {
    font-family: sans-serif;
    box-shadow: 2px 2px  5px -2px lightgrey;
    border-radius: 5px;
    float: left;
    width: 300px;
    height: 550px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
}
.card img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
</style>
