<script setup>
import { onMounted, ref, watch } from "vue";
import Film from "./components/Film.vue";
import axios from "axios";
const films = ref([]);
const query = ref("");

watch(
  [query],
  () => {
    axios.get("http://www.omdbapi.com", {
      params: {
        apikey: import.meta.env.VITE_OMDB_KEY,
        s: query.value,
      },
    }).then((response) => {
      films.value = response.data.Search;
    });
  },
  { immediate: true }
);
</script>

<template>
  <div><input type="search" v-model="query" /></div>
  <div v-if="films">
    <Film v-for="film in films" :film="film" />
  </div>
  <div v-else>Aucun résultat</div>
</template>

<style scoped></style>
